* {
  margin: 0;
  padding: 0;
  font-family: "Livvic", sans-serif;
}
body {
  background: #014e56;
  color: white;
  height: 1500px;
}
@media only screen and (max-width: 750px) {
  a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle {
    display: block;
    position: absolute;
    top: 70px;
    right: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffff;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: fixed;
    width: 250px;
    height: 100%;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;

    background: #2c6269;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    background-image: url("/starter-code/assets/bg-pattern-about-1-mobile-nav-1.svg");
    background-repeat: no-repeat;
    background-position: bottom 170px right;

    display: flex;
    flex-direction: column;
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
    opacity: 1;
  }
  .contact {
    width: 60%;
  }
}
/* ******************************************************************* */
nav {
  padding-left: 20px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
nav input {
  display: none;
}
#menu {
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 0.7em;
}
.contact {
  background-color: #2c6269;
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 1.5em;
  color: white;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 2.5em;
}
h1 {
  font-size: 2em;
  margin-bottom: 10px;
}
.first_article {
  text-align: center;
  margin-bottom: 80px;
  padding: 0px 40px;
}
.first_article p {
  line-height: 25px;
}

header{
    height: 500px;
    background-image: url("/starter-code/assets/bg-pattern-about-1-mobile-nav-1.svg");
    background-repeat: no-repeat;
    background-position: top 400px right -100px;
}

.meet{
    background-color: #004047;
    background-image: url("/starter-code/assets/bg-pattern-about-2-contact-1.svg");
    background-repeat: no-repeat;
    background-position: top -100px left -100px;
}
.meet h2{
    text-align: center;
    padding: 90px 30px 50px;
    font-size: 2em;
}
.meet ul{
    width: 80%;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.meet > ul > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #012F34;
    position: relative;
    height: 250px;
}
.img_meet{
    border-radius: 50%;
    border: 2px solid white;
    width: 100px;
    margin-top: 30px;
}
.meet li h3{
    color: #79C8C7;
}
.meet li p{
    font-style: italic;
    margin-bottom: 50px;
}
.cross_meet{
    background-color: #F67E7E;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: -28px;
}

.reverse_card q{
    text-align: center;
}
.reverse_card ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.reverse_card{
    gap: 25px;
}
.reverse_card h3{
    margin-top: 30px;
}
.cross_blue_meet{
    background-color: #79C8C7;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: -28px;
}
#image_fond{
    height: 120px;

    background-image: url("/starter-code/assets/bg-pattern-home-4-about-3.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.clients{
    background-color: #012F34;
    background-image: url("/starter-code/assets/bg-pattern-about-4.svg");
    background-repeat: no-repeat;
    background-position: top -100px left -100px;

    padding-bottom: 100px;
}
.clients h2{
    text-align: center;
    font-size: 2em;
    padding: 90px 20px 80px 20px;
}
.clients ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 60px;
}
.clients ul li img{
    width: 60%;
    margin: auto;
    display: block;
}
.started {
    height: 350px;
    background-color: #f67e7e;
    color: #012f34;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
  
    background-image: url("/starter-code/assets/bg-pattern-home-6-about-5.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  .started h2 {
    margin: 100px 20% 10px;
    text-align: center;
  }
  .started button {
    background-color: #f67e7e;
    border: 2px solid black;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 0.8em;
  }
  footer {
    background-color: #002529;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90%;
    height: 80%;
  }
  footer ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 20px;
  }
  footer ul a {
    text-decoration: none;
    color: white;
  }
  footer p,
  footer small {
    color: #a09f9f;
  }
  footer div p {
    text-align: center;
  }

  @media only screen and (min-width: 750px) {

    header{
        background-position: top 400px right -100px;
        height: 600px;
    }
    h1{
        margin-top: 50px;
        font-size: 4em;
    }
    .first_article p{
        width: 60%;
        margin: auto;
    }
    
    .meet > ul {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 10px;
    }
    .meet > ul > li{
      width: 49%; 
    }
    .meet{
      background-position: top -50px left -100px;
    }
  .clients{
    height: 200px;
    background-position: top -100px left -50px;
  }
  .clients h2{
    padding-bottom: 40px;
  }
  .clients ul{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .clients ul li{
    width: 200px;
  }
  .clients ul li img{
    width: 70%;
  }
  .started{
    height: 250px;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
  }
 .started h2{
  margin: 0;
 }
 
 footer{
  height: 260px;
 }
 footer h2{
  font-size: 2em;
  float: left;
 }
 footer section{
  padding: 10px;
  width: 90%;
  display: inline-block;
  position: relative;
 }
 footer div {
  color: #a09f9f;
  position: absolute;
  right: 30px;
  top: 50px;
}
footer div p{
  text-align: end;
}
footer ul{
  width: 30%;
  padding: 0;
  margin: 50px 0;
  gap: 20px;
}
footer ul img{
  width: 120%;
}
#first_ul_foot{
  position: absolute;
  top: 60px;
}
#scd_ul_foot{
  position: absolute;
  top: 120px;
}
small{
  position: absolute;
  top: 180px;
  right: 30px;
}
nav{
  justify-content: left;
  gap: 30px;
  width: 80%;
  margin: auto;
}
#menuToggle{
  width: 100%;
}
nav ul{
  align-items: center;
}
nav ul a{
  margin-top: 8px;
  font-size: 1.3em;
}
.contact{
  position: absolute;
  right: 10%;
  background-color: #014e56;
}
  }

  @media only screen and (min-width: 1100px) {
    header{
      height: 500px;
      background-position: top 300px right -100px;
    }
    .first_article{
      width: 100%;
      display: flex;
      align-items: center;
      margin: 80px 0% 180px 0px;
      padding: 0%;
    }
    .first_article h1{
      height: 100%;
      width: 700px;
      margin: 0 0px 0px 13%;
      font-size: 4em;
      text-align: start;
    }
    .first_article div{
      height: 150px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .first_article p{
      text-align: start;
      width: 80%;
      margin: 0;
    }
    #desktop_trait{
      display: block;
      width: 50px;
      height: 4px;
      background-color: #F67E7E;
    }
    .contact{
      right: 200px;
    }
    .meet{
      background-position: top left -100px;
    }
    .meet > ul {
      column-gap: 25px;
    }
    .meet > ul > li{
      width: 31%; 
    }
    .clients{
      background-position: top left ;
      height: 350px;
    }
    .clients h2{
      font-size: 3em;
      padding-top: 150px;
    }
    .started{
      gap: 250px;
    }
    footer{
      height: 200px;
    }
    footer h2{
      font-size: 2.5em;
      margin-left: 100px;
    }
    #first_ul_foot{
      left: 130px;
    }
    #scd_ul_foot{
      top: 40px;
      right: 0px;
      margin: 0;
      width: 150px;
    }
    small{
      top: 115px;
    }
    footer div{
      left: 430px;
  
    }
    footer div p{
      text-align: left;
    }
    footer section{
      height: 90px;
    }
  }